.one_artic{
	width:100%;
	float:left;
	margin-left: 5px;
	margin-top:5px;
}
.artic_title{
	margin-left: 20px;
	margin-right: 20px;
}
.artic_content{
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 3px;
	
}
.normal_summary {
    background-color:#CFCFCF
    height:auto;
    min-height:80px;
    margin-top: 5px;
    margin-bottom:5px;
    margin-right:2%;
    margin-left:2%;
    font-size: 14px;
    border: 1px solid  #CFCFCF;
    font-style: italic;
    min-width: 500px;
    width: 96%;
    
}
.news_page{
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom:0px;
	height: 30px;
	width:770px;
	float:left;
	
}
.news_page_50{
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom:0px;
	height: 30px;
	width:95%;
	float:left;
	
}
.artic_title_detail{
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 15px;
	float:center;
}
.artic_author_detail{
	margin-top: 3px;
	padding-bottom:3px;
	margin-right:5px;
	float:center;
	align:center;
	border-bottom: 1px solid #cfcfcf;
}
.one_artic_detail{
	float:left;
	margin-left: 10px;
	width: 780px;
}

.artic_content_detail{
	font-size:15px;
	
}