@CHARSET "UTF-8";
.title_detail{
/* 	margin-left: 20px; */
/* 	margin-right: 20px; */
	margin-top: 15px;
	float:center;
	width: 100%;
	font-size: 22px;
	font-weight: bold;
	text-align: center;
}

.content_detail{
	margin-top: 25px;
	font-size:15px;
	min-width: 780px;
	
}

.content_detail2{height:58px;background:gray; repeat-x; width:80%; 
margin:0px auto; min-width:1000px; float:none; 
*width:expression((this.offsetWidth < 1000) ? (this.width = 1000 +'px') : true); }

.title_detail_nolist{
	margin-left: 0px;
	margin-right: 20px;
	margin-top: 15px;
	float:center;
	width: 100%;
	font-size: 22px;
	font-weight: bold;
	text-align: center;
}
.point{
	color: #5c307d;
	font-family: inherit;
	font-size: 14px;
	font-weight: normal;
	text-align: left;
	
}

#trainingPlanfm {
	margin: 0;
	padding: 10px 30px;
}

.ftitle {
	font-size: 14px;
	font-weight: bold;
	padding: 5px 0;
	margin-bottom: 10px;
	border-bottom: 1px solid #ccc;
}

.fitem {
	margin-bottom: 5px;
}

.fitem label {
	display: inline-block;
	width: 80px;
}
.line_teacher{
	vertical-align:top;
	color:#bbbbbb; width:100%;
	margin-top: 0px;
}
.title_teacher{
	text-align: center;
	margin-left: 0%;
}

.title_plan{
	margin-top: 20px;
}
	
.plan_content_detail{
	margin-top: 25px;
	font-size:15px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.img_photo{ WIDTH:300px; HEIGHT:300px; BORDER:0; }
.img_thunmb{ WIDTH:150px; HEIGHT:150px; BORDER:0; }


.teacher_list{
	width: 80%;
	text-align: center;
	vertical-align: top;
}
.span_title{
	width: 80%;
	text-align: left;
	
}
.plan_table_list{
	width: 80%;
	text-align: center;
	vertical-align: top;
/* 	border-left: 1px dotted; */
/* 	border-right:1px dotted; */
}

.plan_table_list td{
	border-left: 1px dotted;
	border-right:1px dotted;
}

.plan_table_list th{
	border-left: 1px dotted;
	border-right:1px dotted;
}

.div_baseinfo{font-size: 14px;height: 100%;height: auto;min-height: 400px;}
.baseInfo{width: 100%;height: 100%;height: auto;}

.line_keyanchenguo{
	 width:95%;borber:1px #CFD7EA solid;
}
.div_planInfo{font-size: 14px;height: 100%;height: auto;min-height: 120px;margin-top: 30px;}
.planInfo{width: 90%;height: 100%;height: auto;margin-left: 5%;}

.separatorLine{
	    clear: both;
    height: 1px;
    line-height: 1px;
    margin: 0px 0px;
    font-size: 0px;
    border-width: 0px 0px 1px medium;
    border-style: none none dashed;
    border-top: 0px none;
    border-left: medium none;
    border-right: 0px none;
    border-color: #DDD;
}
.first_line_info{ margin:0px 0px 0px 0px; padding: 7px 5px;}
.first_line_info:hover { background:#FFFCC9; }

.first_center_td{
	margin:10px 20px 0px 20px;
	overflow: hidden;
	height: 205px;
}
.first_line_info a{
	width: 100%;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.span_column{ 
			text-align:left;
			display:-moz-inline-box;
			display:inline-block;
			width:300px;}
.span_column_sm{ 
			text-align:right;
			display:-moz-inline-box;
			display:inline-block;
			width:200px; }
			
.plan_table_list_new{
	width: 95%;
	
}
.plan_table_list_new td{
/* 	width: 2%; */
	text-align: center;
	vertical-align: center;
	border:1px solid;
	height:25px;
	border-color:#CFD7EA;
	background: url(../../images/img/trpic.jpg) repeat-x scroll 0px 50% transparent;
}

.plan_table_list_new th{
/* 	width: 5px; */
	text-align: center;
	vertical-align: center;
	border:1px solid;
	border-color:#CFD7EA;
	height:27px;
	background: url(../../images/img/thpic.jpg) repeat-x scroll 0px 50% transparent;
}
.teacher_table{
	border:1px solid;
	border-color:#CFD7EA;
}
.teacher_table th{
	text-align: center;
	vertical-align: center;
	border:0px solid;
	border-color:#CFD7EA;
	height:47px;
	background: url(../../images/img/table_th.jpg) repeat-x scroll 0px 50% transparent;
}

.teacher_table tr{
	text-align: center;
	vertical-align: center;
	border:0px solid;
	border-color:#CFD7EA;
	height:27px;
	background: url(../../images/img/table_tr.jpg) repeat-x scroll 0px 50% transparent;
}

